
.preview {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  background-color: #f9f9f9;
}

.preview * {
  line-height: 1.4;
  color: #333;
}

.preview p {
  padding: 8px 0;
}
