
.preview {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  background-color: #f9f9f9;
}

.preview * {
  line-height: 1.4;
  color: #333;
}

.preview li {
  padding-left: 10px;
  list-style-position: inside;
}

.preview p {
  padding: 8px 0;
  white-space: pre-wrap;
}

.preview pre code {
  display: block;
  white-space: pre-wrap;
  margin: 8px 0;
  padding: 8px;
  color: var(--color-white);
  background-color: var(--color-black);
}
