@import "tailwindcss";

* {
  margin: 0;
  margin-block-start: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  line-height: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-base: #368bf2;
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #ccc;

  --font-size-title: 20px;
  --font-size-base: 16px;
  --font-size-middle: 14px;
  --font-size-small: 10px;

  --font-sbase-font: 16px;
  --font-small-font: 12px;

  --box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  --border-radious: 8px;
}
body {
  height: 100%;
  margin: 0;
  padding: 16px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}
.main {
  min-height: min(100vh, 650px);
}
.row {
  display: flex;
  justify-content: center;
}
.link,
a {
  display: inline-block;
  color: var(--color-base);
  text-decoration: none;
  padding: 4px;
}
.link:hover,
a:hover {
  color: var(--color-white);
  background-color: var(--color-base);
  cursor: pointer;
}
.color-black {
  color: #333;
}
.w-100 {
  width: 100%;
}
select,
textarea,
input,
button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radious);
  border: 1px solid transparent;
}
select {
  font-size: 1em;
  padding: 0.6em 1.2em;
}
button {
  cursor: pointer;
}
.icon-btn {
  padding: 8px;
  border-radius: var(--border-radious);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
.shot-icon-btn {
  padding: 4px;
  border-radius: var(--border-radious);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
input,
button {
  outline: none;
}
img {
  max-width: 100%;
}