:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  line-height: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-base: #368bf2;
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #ccc;

  --font-size-title: 20px;
  --font-size-base: 16px;
  --font-size-small: 14px;

  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --border-radious: 8px;
}

.main {
  min-height: min(100vh, 650px);
}
body {
  height: 100%;
  margin: 0;
  padding: 16px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.div-outer {
  position: relative;
}
.row {
  display: flex;
  justify-content: center;
}
.link,
a {
  display: inline-block;
  color: var(--color-base);
  text-decoration: none;
  padding: 4px;
}
.link:hover,
a:hover {
  color: var(--color-white);
  background-color: var(--color-base);
  cursor: pointer;
}
.color-black {
  color: #333;
}
.w-100 {
  width: 100%;
}
select,
textarea,
input,
button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radious);
  border: 1px solid transparent;
}
select {
  font-size: 1em;
  padding: 0.6em 1.2em;
}
button {
  cursor: pointer;
}
.icon-btn {
  padding: 8px;
  border-radius: var(--border-radious);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
.shot-icon-btn {
  padding: 4px;
  border-radius: var(--border-radious);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
input,
button {
  outline: none;
}
#greet-input {
  margin-right: 5px;
}
.border {
  border: 1px solid #ccc;
}
.rounded {
  border-radius: 8px;
}
.text-black {
  color: black;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.hover {
  cursor: pointer;
}

.font-size-title {
  font-size: var(--font-size-title);
  font-weight: 600;
}
.font-size-base {
  font-size: var(--font-size-base);
}
.font-size-small {
  font-size: var(--font-size-small);
}

.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}

.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 12px;
}
.p-4 {
  padding: 16px;
}

.pb-2 {
  padding-bottom: 8px;
}
.pb-4 {
  padding-bottom: 16px;
}

.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  margin: auto;
  bottom: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
  }

  a:hover {
    color: #24c8db;
  }
  select,
  textarea,
  input,
  button {
    color: var(--color-white);
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}



